body {
    display: flex;
    flex-direction: row;
}

.left-column {
    max-width: 40%;
    background-color: antiquewhite;
    padding: 3%;
    height: 100%;
}

.main-column {
    padding: 3%;
}

table {
    border: 1px solid grey;
}

th {
    background-color: rgba(128, 128, 128, 0.555);
}

tr {
    border: 1px solid grey;
}

td {
    padding: 1%;
}

