
@font-face {
    font-family: "Rubik-Light";
    src: url(./rubik/static/Rubik-Light.ttf);
}

@font-face {
    font-family: "Rubik-Medium";
    src: url(./rubik/static/Rubik-Medium.ttf);
}

@font-face {
    font-family: "Rubik-Bold";
    src: url(./rubik/static/Rubik-Bold.ttf);
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    height: 100%;
    font-family: "Rubik-Light";
}

.left-column {
    width: 18%;
    padding: 3%;
    height: 100%;
    overflow: scroll;
}

.left-column-content {
    display: flex;
    flex-direction: column;
}

.obsolete {
    color: rgb(207, 55, 0);
}

h1 {
    margin-bottom: 10%;
    font-family: "Rubik-Bold";
    font-variant: small-caps;
}

ul {
    margin-bottom: 10%;
}

a {
    color: black;
}

a:hover {
    font-weight: bold;
}

.main-column {
    width: 82%;
    padding: 3%;
    margin-left: 2%;
    height: 100%;
    overflow: auto;
}

.balise-container {
    margin-bottom: 2%;
}

.balise-name {
    margin-bottom: 1%;
    font-size: 1.7em;
    font-family: "Rubik-Bold";
}

.balise-container > p {
    text-align: justify;
}

.attributs-container {
    margin-bottom: 2%;
    padding-left: 2%;
}

h3 {
    margin-bottom: 1%;
    font-family: "Rubik-Medium";
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid grey;
}

.table-name {
    width: 30%;
}

.table-description {
    width: 35%;
}

.table-values {
    width: 35%;
}

th {
    background-color: rgba(128, 128, 128, 0.389);
    text-align: left;
    padding-left: 1%;
}

tr {
    border: 1px solid grey;
}

td {
    padding: 1%;
}

.exemple-title {
    padding-left: 2%;
}

.exemple-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    padding: 0% 2% 0% 2%;
    text-align: justify;
}

.rendu {
    width: 50%;
    margin-right: 1%;
    padding: 1%;
    border: 1px solid grey;
    border-radius: 5px;
}

.code {
    width: 50%;
    margin-left: 1%;
    padding: 1%;
    border: 1px solid grey;
    border-radius: 5px;
}

.plus {
    padding-left: 2%;
    margin-bottom: 5%;
}

.button-container{
    padding-left: 5%;
    margin-top: 2%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

button {
    width: 30%;
    background-color: white;
    border-color:  rgb(221, 75, 37);
    border-radius: 2em;
    padding: 1%;
    margin-bottom: 1%;
}


button:hover {
    background-color:  rgb(221, 75, 37);
}

button:hover > a {
    color: white;
}

.balise {
    color: rgb(221, 75, 37);
    font-weight: bold;
}

.balise > .attributs {
    color: red;
}

.balise > .link {
    color: green;
}

abbr {
    color: orange;
  }
